<table class="table" id="product_sale_prices" data-hook="sale_price_table">
  <colgroup>
    <col>
    <col>
    <col style="width: 30%">
    <col style="width: 30%">
    <col>
    <col>
  </colgroup>
  <thead>
    <tr data-hook="products_header">
      <th class="text-center"><%= t('sale_price_active') %></th>
      <th><%= t('sale_price') %></th>
      <th><%= t('sale_price_start_at') %></th>
      <th><%= t('sale_price_end_at') %></th>
      <th class="text-center"><%= t('sale_price_enabled') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% if (master_sale_prices = product.master.sale_prices).any? %>
      <%= render partial: 'sale_price', collection: master_sale_prices, locals: { product: product } %>
    <% else %>
      <tr>
        <td colspan="100%" class="text-center">
          <em><%= t('no_sale_prices_for_product') %></em>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>