<%= render partial: 'spree/admin/shared/sub_menu/product' %>
<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Product Sale Prices' } %>
<%= csrf_meta_tag %>

<div id="add-line-item" class="well">
  <h4><%= t('add_product_sale_prices') %></h4>
  <%= form_for [:admin, @product, Spree::SalePrice.new], remote: true do |f| %>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group field">
          <%= label_tag '', t('original_prices'), class: 'control-label' %>
          <div class="form-inline">
            <% supported_currencies_for_sale_price.each do |currency| %>
              <%= text_field_tag '', Spree::Money.new(@product.original_price_in(currency.iso_code).amount || 0, currency: currency.iso_code), { class: 'form-control', disabled: true } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group field">
          <%= f.label :value, t('sale_price_amount'), class: 'control-label' %>
          <%= f.text_field :value, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group field">
          <%= f.label :currency, t('sale_price_currency'), class: 'control-label' %>
          <%= f.select :currency, options_for_select(supported_currencies_for_sale_price), {}, { class: 'form-control' } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group field">
          <%= f.label :start_at, t('sale_price_start_at'), class: 'control-label' %>
          <%= f.text_field :start_at, class: 'datepicker form-control' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group field">
          <%= f.label :end_at, t('sale_price_end_at'), class: 'control-label' %>
          <%= f.text_field :end_at, class: 'datepicker form-control' %>
        </div>
      </div>
    </div>

    <div class="form-actions text-center" data-hook="buttons">
      <button name="button" type="submit" class="btn btn-primary">
        <span class="icon icon-plus"></span>
        <%= t('add_sale_price') %>
      </button>
    </div>
  <% end %>
</div>

<hr />

<div id="product-sale-prices-table">
  <%= render partial: 'table', locals: { product: @product } %>
</div>